/* biosite #2 */

html {
    font-size: 16px;
}



* html #footer {
    height: 1px;



}




body {
    margin: 0;
    width: 400px;
    float: left;
    ;
    padding: 70;
    color: #000;
    background: #a7a09f;
    background-color: #b5a789;
    font-family: georgia, "times new roman", Times, serif;

    font-size: small;
}








#wrap {
    width: 850px;
    margin: 0 auto;
    background: #675c47;
}




#header {


    height: 108px;
    background-color: #675c47;
    margin: 10px;


}


h1 {
    margin: 0;
    color: #675c47;
    opacity: 1.0;
    padding: 0px 10px 10px 10px 10px;


}




#nav {
    background: #efe5d0;
    padding: 5px 10px;
    shape-margin:
}

#main {
    background: #efe5d0;
    font-size: 105%;
    float: left;
    width: 450px;
    line-height: 30px;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    column-count: 3;

}


header {
    color: #b5a789;
}


h2 {
    margin: 0 0 1em;
    color: tomato;
    opacity: 1.0;

}

#sidebar {

    float: right;
    width: 330px;
    margin: 0px 10px 10px 10px 10px;
    padding: 10px;
    background: #efe5d0;
    color: #675c47;
    ;
}


#footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
    clear: both;

}


#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 90px;
}

#nav li {
    display: inline;
    margin: 0;
    padding: 0;
}



figure {
    float: inherit;


}


article {
    text-align: left;
    font-size: 16px;
    font-family: sans-serif, georgia;
    column-span: initial;

}


.picture {
    font-family: cursive;
    font-size: 16px;
    letter-spacing: 30px;
}




caption,
th,
td {
    background-color: #675c47;
    background-image: url(./images/Rice%20and%20soup.gif);
    opacity: 0.85;
    color: #efe5d0;
}

caption {
    color: #675c47;
}


/* new css stuff being added  */

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #675c47;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #473c40;
  color: white;
}


body {margin:0;height:2000px;}

.icon-bar {
   
  position:fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/* shake img */


img:hover {animation: shake 0.5s;
    
    
 animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* scrollbars */

<style>
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px brown; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #675c47; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #675c47; 
}





